html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Verdana', 'Open-Sans', 'Helvetica';
    font-size: 12px;
}

#wrapper {
    height: 100%;
    background-color: #202020;
    width: 100%;
    margin: 0 auto;
}

#right-side {
    width: 270px;
    background-color: #FFF;
    height: 100%;
    float: right;
    position: relative;
}

#right-side button {
    border: none;
    width: 100%;
    padding: 10px 5px;
    margin: 0 0 5px 0;
}

#right-side button:hover {
    background-color: #999;
    cursor: pointer;
}

#right-side #webcams {
    width: 270px;
}

#right-side #chat {
    position: absolute;
    height: 200px;
    background-color: #202020;
    width: 100%;
    bottom: 0;
}

#right-side #chat #messages {
    margin: 0;
    border-top: 1px solid #CCC;
    height: 85%;
    background-color: #DDD;
    overflow: auto;
}

#right-side #chat #messages {
    margin: 0;
    padding: 0;
}

#right-side #chat #messages li {
    list-style: none;
    padding: 5px 10px;
    background-color: #BBB;
}

#right-side #chat #messages li:nth-child(odd) {
    background-color: #CCC;
}

#right-side #chat #composeMessage {
    height: 15%;
}

#right-side #chat #composeMessage #chatInput {
    border: 1px solide #202020;
    padding: 0 0 0 10px;
    float: left;
    
    border: none;
    padding: 0;
    margin: 0;
    
    height: 100%;
    width: 70%;
}

#right-side #chat #composeMessage #btnSendMessage {
    float: right;
    height: 100%;
    width: 30%;
    border: none;
    padding: 0;
    margin: 0;
}

#clients video {
    width: 270px;
}

.clear {
    clear: both;
}

.webcamName {
    padding: 6px 10px;
    background-color: #AAA;
    color: #444;
}

#left-side {
    float: left;
}

#left-side currently-speaking {
    margin: 0 auto;
}
#currently-speaking video {

}