html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

#canvas {
    /* Center Middle */
    position: absolute;
    left: 50%;
    margin-left: -320px;
    
    width: 960px;
    height: 640px;
}

#actions {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -250px;
    
    
    height: 500px;
    width: 300px;
    background-color: black;
}